<div class="p-5 m-4 bg-dark text-light rounded-3">
  <h1 class="display-4 text-light">Hello, world!</h1>
  <p class="lead">This is a simple todo app for listing your ToDo's</p>
  <hr class="my-4">
  <p>You can add, update, view and delete your ToDo's.</p>
  <p class="lead">
    <%= link_to "Learn More", home_about_path, class:"btn btn-primary btn-lg" %>
  </p>
</div>