<div class="container">
</div>

<div class="container">

<h3 class="mt-4">Add Todo</h3>

<%= render 'form', todo: @todo %>

<%= link_to 'Back', todos_path, class:"btn btn-outline-secondary btn-sm mt-4 ps-4 pe-4" %>

</div>
